<a href="https://colab.research.google.com/github/Kanyawesr/DWDM21/blob/main/MiniExam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### ข้อสอบ

จาก data ```flights.csv``` และ ```airports.csv``` ใน https://drive.google.com/drive/folders/1D0qz4oyPdKx5nJ3IeBOko5LA3KVR0y4e
0. หารัฐที่มีจำนวนเครื่องบินขาเข้ามากที่สุดและน้อยที่สุด
1. หารัฐที่มีจำนวนเครื่องบินขาออกมากที่สุดและน้อยที่สุด
2. วาด Histogram แสดงจำนวนเครื่องบินขาออกของแต่ละวันในสัปดาห์
3. สายการบินไหนมีเที่ยวบินมากที่สุดและน้อยที่สุด
4. สายการบินอะไรมีความล่าช้ามากที่สุดและน้อยที่สุด
5. ช่วงเช้าหรือช่วงบ่ายมีเครื่องบินขาเข้ามากกว่ากัน

ให้นักศึกษาทำข้อสอบ 2 ข้อจากที่แสดงข้างบนโดยกรอกรหัสนักศึกษาลงใน function ```gen_exams()``` แล้ว run เพื่อให้ได้ข้อสอบที่นักศึกษาต้องทำ 2 ข้อ (ข้อละ 3 คะแนน)
และให้นักศึกษาคิดโจทย์เองอีก 1 ข้อ (4 คะแนน)

In [102]:
import pandas as pd

In [103]:
from google.colab import drive 
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [104]:
import os

In [105]:
flights = pd.read_csv('/content/drive/MyDrive/Mini Exam/flights.csv')
flights

         วันในเดือน  วันในสัปดาห์  ... ความล่าช้าขาออก  ความล่าช้าขาเข้า
0                19             5  ...              -3                 1
1                19             5  ...               0                -8
2                19             5  ...              -4               -15
3                19             5  ...              28                24
4                19             5  ...              -6               -11
...             ...           ...  ...             ...               ...
2702213          19             6  ...               1                -3
2702214          19             6  ...              -2                -3
2702215          19             6  ...              18                 9
2702216          19             6  ...              10                 7
2702217          19             6  ...               0               -13

[2702218 rows x 7 columns]

In [106]:
airports = pd.read_csv('/content/drive/MyDrive/Mini Exam/airports.csv')
airports

     รหัสสนามบิน         เมือง รัฐ                          ชื่อสนามบิน
0          10165   Adak Island  AK                                 Adak
1          10299     Anchorage  AK  Ted Stevens Anchorage International
2          10304         Aniak  AK                        Aniak Airport
3          10754        Barrow  AK      Wiley Post/Will Rogers Memorial
4          10551        Bethel  AK                       Bethel Airport
..           ...           ...  ..                                  ...
360        11233      Cheyenne  WY  Cheyenne Regional/Jerry Olson Field
361        11097          Cody  WY                 Yellowstone Regional
362        11865      Gillette  WY             Gillette Campbell County
363        12441       Jackson  WY                         Jackson Hole
364        14543  Rock Springs  WY       Rock Springs Sweetwater County

[365 rows x 4 columns]

In [107]:
def gen_exams(ID): 
    import math
    a = int(ID[-1])%6
    b = int(ID[-1])%3
    print(f'รหัสนักศึกษา {ID} ทำข้อ {a} และ {b if a != b else 5-b}')

ตัวอย่างการ run

In [108]:
gen_exams('623020511-1')

รหัสนักศึกษา 623020511-1 ทำข้อ 1 และ 4

**ข้อ 1 หารัฐที่มีจำนวนเครื่องบินขาออกมากที่สุดและน้อยที่สุด**

In [154]:
merged_table = flights.merge(airports,how='left',left_on='รหัสสนามบินต้นทาง',right_on='รหัสสนามบิน')
merged_table

         วันในเดือน  วันในสัปดาห์  ... รัฐ                       ชื่อสนามบิน
0                12             4  ...  TX                   William P Hobby
1                28             2  ...  UT      Salt Lake City International
2                22             7  ...  TX         San Antonio International
3                 3             3  ...  CA          Sacramento International
4                 5             3  ...  FL             Orlando International
...             ...           ...  ...  ..                               ...
1123493          22             2  ...  AZ  Phoenix Sky Harbor International
1123494          28             1  ...  PA        Philadelphia International
1123495          26             1  ...  UT      Salt Lake City International
1123496          12             5  ...  NV            McCarran International
1123497          15             2  ...  AZ  Phoenix Sky Harbor International

[1123498 rows x 11 columns]

In [156]:
merged_table['ความล่าช้าขาออก'].max()

1863

In [157]:
max = merged_table.groupby('รัฐ').max().sort_values(by=['ความล่าช้าขาออก'],ascending=False)
max.iloc[:1,:]

     วันในเดือน  วันในสัปดาห์  ...   เมือง           ชื่อสนามบิน
รัฐ                            ...
AZ           31             7  ...  Tucson  Tucson International

[1 rows x 10 columns]

In [158]:

merged_table['ความล่าช้าขาออก'].min()

1

In [159]:
min = merged_table.groupby('รัฐ').min().sort_values(by=['ความล่าช้าขาออก'],ascending=False)
min.iloc[:1,:]

     วันในเดือน  วันในสัปดาห์  ...      เมือง                          ชื่อสนามบิน
รัฐ                            ...
AK            1             1  ...  Anchorage  Ted Stevens Anchorage International

[1 rows x 10 columns]

**4.สายการบินอะไรมีความล่าช้ามากที่สุดและน้อยที่สุด**

In [162]:
data01 = merge_2table[['สายการบิน','ความล่าช้าขาออก','ความล่าช้าขาเข้า']]
data01

        สายการบิน  ความล่าช้าขาออก  ความล่าช้าขาเข้า
0             NaN              NaN               NaN
1              AS              1.0              -7.0
2              AS              1.0               0.0
3              B6              1.0             -14.0
4              UA              1.0               4.0
...           ...              ...               ...
1123788       NaN              NaN               NaN
1123789       NaN              NaN               NaN
1123790       NaN              NaN               NaN
1123791       NaN              NaN               NaN
1123792       NaN              NaN               NaN

[1123793 rows x 3 columns]

In [166]:
data01 = data01[data01['ความล่าช้าขาเข้า'] >= 1]
data01

        สายการบิน  ความล่าช้าขาออก  ความล่าช้าขาเข้า
4              UA              1.0               4.0
6              UA              1.0               6.0
7              UA              1.0              35.0
13             F9              1.0              14.0
14             AS              1.0               1.0
...           ...              ...               ...
1123776        EV            592.0             617.0
1123777        DL            759.0             751.0
1123778        DL            865.0             869.0
1123779        DL            955.0             944.0
1123780        DL           1027.0            1032.0

[814886 rows x 3 columns]

In [171]:
max = data01.groupby('สายการบิน').max().sort_values(by=['ความล่าช้าขาออก'],ascending=False)
max.iloc[:1,:]

           ความล่าช้าขาออก  ความล่าช้าขาเข้า
สายการบิน
AA                  1863.0            1835.0

In [173]:
min = data01.groupby('สายการบิน').min().sort_values(by=['ความล่าช้าขาออก'],ascending=False)
min.iloc[:1,:]

           ความล่าช้าขาออก  ความล่าช้าขาเข้า
สายการบิน
9E                     1.0               1.0